.slick-prev:before, .slick-next:before{
    color: black !important;
    font-size: 35px !important;
}

.slick-list{
    width: 102% !important;
}

.slick-prev{
    left: -13px;
    z-index: 1111 !important;
}

.slick-next{
    right: 1% !important;
}