.home-banner-carousel-item{
    height: 500px;
}

.thumbs-wrapper{
    display: none !important;
}

.home-banner-carousel-item-title{
    opacity: 1 !important;
    background: none !important;
    color: #ffffff !important;
    font-size: 18px !important;
}

.control-arrow{
    opacity: 1 !important;
}